.contact {
    background-image: url("https://c.wallhere.com/photos/59/1c/minimalism_Batman_DC_Comics_silhouette-1308253.jpg!d");
    height: 95vh;
    width: 100%;
    border-top: 1px solid #fff;
    background-size: cover;
}