.sign-up {
    width: 38rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 3rem;

    &__heading {
        font-size: 2rem;
    }

    &__span{
        font-size: 1.6rem;
    }

    @media only screen and (max-width: 600px) {
        margin: 0;
    }
}

.title {
    margin: 10px 0;
}

.buttons {
    text-align: center;
    display:flex;
    justify-content: space-between;
}