.sign-up {
    width: 38rem;
    display: flex;
    flex-direction: column;
    //margin-left: 5rem;
    margin-right: 15rem;

    &__heading {
        font-size: 2rem;
    }

    &__span{
        font-size: 1.6rem;
    }


    @media only screen and (max-width: 1400px) {
        margin-right: 8rem;
    }
    @media only screen and (max-width: 1200px) {
        margin-right: 5rem;
    }  
    @media only screen and (max-width: 1000px) {
        margin-right: 0;
    }

    @media only screen and (max-width: 1000px) {
        margin-right: 2rem;
    }

    // @media only screen and (max-width: 750px) {
    //     margin-right: .5rem;
    // }


    @media only screen and (max-width: 750px) {
        margin: 0;
    }
}

.title {
    margin: 10px 0;
}

.buttons {
    text-align: center;
    display:flex;
    justify-content: space-between;
}