.checkout {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto 0;
  
    &__header {
      width: 100%;
      padding: 1rem  0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
      font-size: 1.75rem;
  
      &--block {
        text-transform: cap italize;
        width: 23%;
  
        &:last-child {
          width: 8%;
        }
      }
    }
  
    &__total {
      margin-top: 3rem ;
      margin-left: auto;
      font-size: 3rem ;
    }

    &:last-child {
      margin-bottom: 2rem;
    }
  }
  