$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -1.4rem;
  font-size: 1.2rem;
  color: $main-color;
}

.form {
  position: relative;
  margin: 4.5rem 0;
 

  &__input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 1.8rem;
    padding: 1rem 1rem 1rem .5rem;
    display: block;
    min-width: 36vw;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 2.5rem 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }

    @media only screen and (max-width: 600px) {
      width: 80vw;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  &__label {
    color: $sub-color;
    font-size: 1.6rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: .5rem;
    top: 1rem;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
